<div class="navbar navbar-dark text-light bg-dark" style="position:relative;margin: top 10px;">
  <div class="contaier-fluid">
     <h3 style="color:white;">PRODUCT COMMUNITY</h3>
 </div>
     
 <div class="d-flex">
    
  <a href="/homepage" style="text-decoration:none ;color:white"><h3>HOME-PAGE</h3></a>&nbsp;&nbsp;&nbsp;&nbsp;
 
     <a href="/login" style="text-decoration:none ;color:white"><h3>LOGIN</h3></a>&nbsp;&nbsp;
     <router-outlet></router-outlet>
   </div>
 
 
 </div>
 
<form #loginform="ngForm" class="container col-sm-6 " style="margin-top:50px" (ngSubmit)="registeruser()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" [(ngModel)]="user.emailid"
     name="emailid" required #emailid="ngModel" class="form-control"
      id="exampleInputEmail1" required aria-describedby="emailHelp" placeholder="Enter email"
      [class.is-invalid]="emailid.invalid && emailid.touched">
      <small id="emailHelp" class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">*Email</small>
  
    <small id="emailHelp" class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">*Email</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Firstname</label>
    <input type="text" [(ngModel)]="user.firstname" name="firstname"
     required #firstname="ngModel" class="form-control"
      id="firstname" aria-describedby="emailHelp" placeholder="firstname"
      [class.is-invalid]="firstname.invalid && firstname.touched">
    <small id="firstname" class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">*FirstName</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">LastName</label>
    <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname" id="lastname"
      placeholder="lastname" required #lastname="ngModel" [class.is-invalid]="lastname.invalid && lastname.touched">
    <small id="lastname" class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">*Lastname</small>

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" required #password="ngModel" class="form-control"
      id="password" aria-describedby="emailHelp" placeholder="Enter Password"
      [class.is-invalid]="password.invalid && password.touched">
    <small id="emailHelp" class="text-danger" [class.d-none]="password.valid || password.untouched">*Email</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Confirm Password</label>
    <input type="password" [(ngModel)]="user.confirmpassword" name="confirmpassword" required 
    #confirmpassword="ngModel"
      class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Confirm Password"
      [class.is-invalid]="emailid.invalid && emailid.touched">
    <small id="emailHelp" class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">*Confirm Password </small>
  </div>
  <div class="form-group form-check">

    <label class="form-check-label" style="color: red;">{{msg}}</label>
  </div>
  
  <button  type="submit" class="btn btn-primary container">Register</button>
</form>