<div class="navbar navbar-dark text-light bg-dark" style="position:relative;margin: top 10px;">
    <div class="contaier-fluid">
       <h3 style="color:white;">PRODUCT COMMUNITY</h3>
   </div>
       
   <div class="d-flex">
       <a href="/" style="text-decoration:none ;color:white"><h3>LOG-OUT</h3></a>&nbsp;&nbsp;
       <router-outlet></router-outlet>
     </div>
</div>

     <form class="container col-sm-9"   style="margin-top:20px">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="credentials.username" name="username" 
             class="form-control" id="staticEmail" placeholder="ADMIN EMAIL">
          </div>
        </div>
        <div class="form-group row" style="margin-top: 20px">
          <label for="inputPassword"  class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password"  [(ngModel)]="credentials.password" 
             name="adminPassword"
             placeholder="Admin-Password" class="form-control" id="adminPassword" placeholder="Password">
          </div>
          
          <div class="btn btn-info col-sm-4" (click)="login()" style="margin-left:172px;margin-top: 10px; position: center;">LOG-IN</div>
        </div>
      </form>